# Archivos temporales
*.csv
*.tmp
*.bak
*.swp
*.swo
*.html
.DS_Store

# Archivos de Python
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
myenv/
venv/
env/
financial_reports/
financial_reportsTsl/
# Archivos de configuración
.vscode/
.idea/

# Archivos de dependencias
Pipfile.lock
