# Archivos compilados y caché de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (no se deben versionar)
venv/
env/
ENV/
env.bak/
venv.bak/

# Carpetas de distribución/packaging
build/
dist/
*.egg-info/

# Informes de tests y cobertura
.coverage
*.cover
htmlcov/
.tox/
.nox/

# Logs e informes temporales
pip-log.txt
pip-delete-this-directory.txt
*.log

# Archivos y directorios de sistema
.DS_Store
Thumbs.db

# Configuraciones de IDEs/editores
.vscode/
.idea/

# Archivos de configuración de entorno (variables locales)
.env

# Archivos y directorios de Buildozer (Android)
Android/.buildozer/

# Directorios de datos de Chrome (no necesarios para el código)
chrome-data/
chrome_profile_mercadolibre/

# Binarios y ejecutables
*.deb
*.exe

# Bases de datos locales o temporales (si no son esenciales para el código)
ChatBot/conversaciones.db
ChatBot/interactions.db
ChatBot/preguntas_respuestas.db

# Archivos multimedia pesados (audio, video, imágenes) que no forman parte del código fuente
*.mp4
*.wav
*.png
*.pt
*.xlsx
